{
  "presets": ["react", "stage-1"],
  "plugins": ["transform-runtime"],
  "env": {
    "development": {
      "presets": ["env", "react-hmre"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            }
          }
        ]
      ],
      "plugins": [
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    },
    "test": {
      "presets": ["env"]
    }
  }
}
