// Overrides
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

a {
  transition: all 200ms ease;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea,
.control.has-icons-left .icon,
.control.has-icons-right .icon {
  height: 2.273em;
}

.select select {
  height: 2.5em;
}

.box {
  box-shadow: 0 0 1px $grey-light;
}

.button {
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 50px;

  &.is-small {
    border-radius: 40px;
    font-size: 0.85rem;
  }
}

.button {
  transition: all 200ms ease;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-active-border-color, 0.3);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        box-shadow: 0 0 0 2px rgba($color, 0.3);
      }
    }
  }
}

.content {
  font-size: 1.1rem;
  font-family: $family-serif;

  .button {
    font-family: $family-sans-serif;
  }
}

.card-header-title,
.menu-label,
.message-header,
.modal-card-title,
.panel-heading,
.subtitle,
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: $family-heading;
}

blockquote {
  font-style: italic;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.nav {
  min-height: 5rem;
  border: 1px solid $grey-lighter;
}

.navbar {
  border: 1px solid $border;
}

.nav-toggle {
  width: 5rem;
  height: 5rem;
}

.hero {
  .nav {
    border: none;
    box-shadow: 0 1px 0 rgba($border, 0.5);
  }
}

.columns {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;

  .column {
    flex: 33%;
    display: flex;
    align-items: stretch;
    flex-grow: 0;
    flex-shrink: 0;

    .card {
      $card-border-color: $grey-darker;
      box-shadow: 0 0 1px $grey-light;
      position: relative;
      flex: 100%;
      flex-shrink: 0;
      flex-grow: 0;

      .card-header {
        box-shadow: none;
        border-bottom: 1px solid $grey-lighter;
      }

      .card-footer-offset {
        min-height: 90px;
      }
      .card-footer {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
    }
  }
}

.footer .content {
  font-family: $family-sans-serif;
  min-height: 4.5em;
  max-height: 4.5em;
}

@media only screen and (max-width: 1024px) {
  .columns {
    .column {
      flex: 50%;
      flex-grow: 0;
      flex-shrink: 0;

      .card-footer-offset {
        min-height: 50px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .columns {
    .column {
      flex: 100%;

      .card-footer-offset {
        min-height: 10px;
      }
    }
  }
}
