@import 'normalize.css';
@import 'flexboxgrid.css';
@import 'pagination.css';

:root {
  --body-bg: #ececec;
  --content-bg: #fff;
  --header-bg: #f5f5f5;
  --header-bg-light: #333333;
  --heading: rgba(0, 0, 0, .85);
  --primary: #108ee9;
  --text: hsla(0, 0%, 100%, .67);
  --text-hover: #fff;
  --success: #29b35b;
  --danger: #b61b17;
  --info: #31708f;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  color: rgba(0, 0, 0, .65);
}

a {
  color: #108ee9;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s ease;
}
a:focus {
  text-decoration: underline;
}
a:hover {
  color: #49a9ee;
}
a:active {
  color: #0e77ca;
}
a:active,
a:hover {
  outline: 0;
  text-decoration: none;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  pointer-events: none;
}

hr {
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

fieldset {
  border: none;
  margin: 18px 0;
  padding: 0;
}

legend {
  color: var(--primary);
  font-weight: bold;
  font-size: 32px;
}
label {
  display: block;
  line-height: 1.8;
  margin: 8px 0;
}

input:not([type='checkbox']):not([type='radio']),
textarea,
select {
  box-sizing: content-box;
  background: #fff;
  border: 1px solid #e8e8e8;
  padding: 16px;
  width: calc(100% - 16px - 16px);
  -webkit-appearance: none;
}

textarea {
  min-height: 50vh;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  display: inline-block;
  margin: 0 5px;
}

form button[type="submit"] {
  margin-top: 1em;
}

.list-inline {
  display: inline-block;
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding: 0 5px;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

.text-success {
  color: var(--success);
}

.text-danger {
  color: var(--danger);
}

.text-info {
  color: var(--info);
}

.avatar {
  margin-right: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

header.main {
  background: var(--header-bg);
  padding: 0 0 0 2em;
  height: 64px;
  line-height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header.main nav {
  align-self: flex-end;
}
header.main nav a {
  display: inline-block;
  margin: 0 15px;
}

.logo {
  width: 120px;
  height: 31px;
  border-radius: 6px;
  margin: 12px 24px 16px 0;
  display: block;
  color: #333;
  line-height: 32px;
  text-align: center;
  font-weight: bold;
  border: 4px solid rgb(236, 236, 236);
}
span.slash {
  font-style: italic;
  color: var(--primary);
}

main {
  min-height: 100vh;
  margin: 0 0 10vw 0;
}

.breadcrumb-container {
  margin: 16px auto;
}
.breadcrumb-link {
  color: rgba(0, 0, 0, .65);
  font-size: 12px;
}
.breadcrumb-separator {
  margin: 0 8px;
  color: rgba(0, 0, 0, .3);
}

.company-filter-container {
  padding: 16px;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  flex-wrap: wrap;
}

.company-filter-item {
  font-size: 12px;
  margin: 16px;
}

.job-tag {
  border-radius: 8px;
  background: rgba(175, 206, 228, 0.25);
  color: #000;
  font-size: 12px;
  display: inline-block;
  padding: 0 8px;
  margin: 0 8px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}
.job-tag.job-type {
  background: rgba(16, 142, 233, 0.25);
}
.job-tag.job-recruiter {
  background: rgba(170, 233, 16, 0.25);
}
.job-tag.job-remote {
  background: rgba(59, 16, 233, 0.25);
}

.job-description,
.company-description {
  max-width: 60vw;
  margin-left: 2vw;
}

.loading {
  border: 6px solid rgba(0, 0, 0, .1);
  border-top-color: rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  animation: rotate .6s infinite linear;
  position: fixed;
  top: calc(50vh);
  left: calc(50vw - 50px);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.btn {
  background: #fff;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
  font-size: 14px;
  color: var(--primary);
  cursor: pointer;
}

blockquote {
  border-left: 1px solid #e8e8e8;
  padding: 8px 18px;
  font-style: italic;
}
blockquote:before {
  color: var(--primary);
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote::after {
  color: var(--primary);
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
  position: relative;
  top: 9px;
}

blockquote p {
  display: inline;
}

footer {
  border-top: 1px solid #e8e8e8;
  font-size: 12px;
  padding: 16px;
}

footer nav {
  margin: 8px;
}

footer nav a {
  margin: 8px;
}

.form-field-group {
  margin: 18px;
}
.form-input-help {
  font-size: 12px;
  font-style: italic;
}

.form-field-checkbox .form-field-label {
  margin: 0 0 0 8px;
}

h1.masthead {
  border-bottom: 2px solid #e8e8e8;
  padding: 64px 0;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 32px;
}

h5 {
  font-size: 24px;
}

body,
p {
  font-size: 16px;
}

aside.col-sm-12 {
  padding: 0 0 0 4em;
}

@media only screen and (max-width: 1199px) {
  aside.col-sm-12 {
    order: -1;
    padding: 0;
  }
}

.col-sm-8 section {
  border-bottom: 1px solid #e8e8e8;
  margin: 32px 0;
  padding: 32px 0;
}
