.avatar img {
  max-height: 32px;
}
.slackLogin img {
  max-height: 40px;
}

.brand {
  font-weight: 200;
}
.brand a span {
  font-weight: bold;
  color: #3676d9;
  border-bottom: 5px solid;
  margin: 0 3px;
}
