.container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  font-weight: 600;
}

.action::before {
  content: "";
  display: inline-block;
  border-left: 1px solid #e0e0e0;
  height: 16px;
  line-height: 1;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: middle;
}

.dash {
  margin: 0 10px;
}

.title {
  font-size: 14px;
  font-weight: 600;
}

.subtitle {
  display: initial;
  font-size: 14px;
}
